/* 
SECTION2
*/
#section2 {
    background: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
        margin-top: 20px;
    }
}
.section_container {
    width: 90%;
    margin: 30px 0;
}
/* 
EO SECTION2
*/